*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}
body {
    background: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
main.contactom {
    flex: 1;
}
/* NAV */
header {
    background: orangered;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    flex-wrap: wrap;
}
nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

/* CONTENEDOR */
.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    margin: 0;
}

/* FORMULARIO */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
textarea {
    resize: none;
    height: 120px;
}
button {
    background: orangered;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: orangered;
}

/* INFO EXTRA */
.info {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}
#abc {
        text-align: left;
}
footer {
    background: #222;
    color: orangered;
    text-align: center;
    padding: 34px;
    margin-top: 20px;
}
    
/*responsive*/
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .hero h2 {
        font-size: 1.8rem;
    }
}
.carrito {
  cursor: pointer;
  position: relative;
  font-size: 22px;
}

.icono-carrito {
    position: relative;
    display: inline-flex;
    align-items: center;
}
#cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: black;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}